/* src/components/Navbar.css */
.nav-link {
    color: #fff; /* Initial color (white) */
    transition: color 0.3s ease; /* Smooth transition effect */
  }
  
  .nav-link:hover {
    color: white; /* Change to white on hover */
  }